.ProduitPresentation{
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  margin-left: 10rem;
}
.ProduitPresentation button{
  width: 100px;
  height: 100px;
}
.buttonNike-wrapper img{
  width: 50px;
  height: 50px;
}

.buttonNike{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.swiper{
  width: 800px;
  height: 800px;
}
.ProduitNike img{
  width: 500px;
  height: 500px;
}
.Tailles-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

}





/* ----------------Footer------------------------ */
footer{
  background-color: gray;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-wrapper{
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 10rem;
  
}

.suivez-nous img{
  width: 50px;
  height: 50px;
}

/* ----------------Adaptatif------------------------ */

@media (max-width: 600px) {
  .footer-wrapper{
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    font-size: 0.8rem;
  }
  .suivez-nous img{
  width: 30px;
  height: 30px;
  }
}
