* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  size: 16px;
}

header {
  background-color: rgb(56, 56, 56);
  color: whitesmoke;
  padding: 0.625rem 1.25rem;
  position: relative;
}

.wrapper {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3rem;
  height: 3.rem;
}

.search-bar-input {
  height: 1.875rem;
  width: 31.25rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

nav ul li {
  list-style: none;
  font-family: system-ui;
}

.menu-icon {
  display: none;
  width: 1.875rem;
  background: none;
  border: none;
}

/*Barre de navigation*/

/*Début de la page*/

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;

    img{
        position: relative;
        width: 100vw;
    }

    h1{
      position: relative;
      margin-bottom: 25rem;
      font-size: 10rem;
      color: white;
    }
}

.Cathegories{

  button{
    width: 20rem;
    height: 10rem;
  }
}

.cat-wrap{
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}


/*Adaptatif au mobile*/
@media (width <= 56.25rem) {
  .menu-icon {
    display: block;
  }

  .search-bar-input {
    width: 20rem;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: gray;
  }

  .closed {
    top: 0;
    translate: 0 -100%;
  }

  nav ul {
    flex-direction: column;
  }
}

.ProduitPresentation {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  margin-top: 4rem;
  justify-content: center;
}

.ProduitPresentation button {
  width: 100px;
  height: 100px;
}

.buttonNike-wrapper img {
  width: 50px;
  height: 50px;
}

.buttonNike {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.swiper .produit {
  width: 100%;
  max-width: 600px;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  display: flex;
}

.swiper-wrapper .produit {
  align-items: center;
  justify-content: center;
}

.swiper-slide .produit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProduitNike img {
  width: 500px;
  height: 500px;
}

.Tailles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonTailles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  max-width: 300px;
  margin-top: 5rem;
}

.buttonTailles button {
  min-width: 50px;
  height: 40px;
}

.acheter {
  background-color: rgb(63, 88, 199);
  color: white;
  border-color: rgb(0, 0, 0);
}
.autre{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.TitreAutre{
  margin-top: 10rem;
  text-align: center;
}
.swiper {
  width: 100%;
  padding: 1rem 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  
}

.swiper-slide:hover {
  transform: scale(1.05);
}

.swiper-slide img {
  width: 500px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}




/* Footer */
footer {
  background-color: gray;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: auto;
  width: 100%;
}

body {
  background-color: #f5f5f5;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.suivez-nous img {
  width: 50px;
  height: 50px;
}

/* Adaptatif footer */
@media (max-width: 600px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 2rem;
  }

  .suivez-nous img {
    width: 30px;
    height: 30px;
  }

  .Tailles-wrapper {
    width: 100%;
    padding-bottom: 2rem;
  }

  .buttonTailles {
    max-width: 90%;
    justify-content: space-evenly;
  }

  .buttonNike-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttonNike {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .ProduitPresentation {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .buttonNike-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
