* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  size: 16px;
}

/*..............................Barre de navigation...............................*/

header {
  background-color: #383838;
  color: whitesmoke;
  padding: 1rem 1.25rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.wrapper {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3rem;
  height: 3.rem;
}

.search-bar-input {
  height: 1.875rem;
  width: 31.25rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

nav ul li {
  list-style: none;
  font-family: system-ui;

}

nav {
  a {
    color: inherit;
    text-decoration: none;
  }
}

.menu-icon {
  display: none;
  width: 1.875rem;
  background: none;
  border: none;
}

/*..............................Barre de navigation...............................*/

/*..............................Page d'accueil...................................*/

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/Hero.jpg);
  background-size: cover;
  height: 70rem;

  h1 {
    position: relative;
    margin-bottom: 25rem;
    font-size: 10rem;
    color: #f5f5f5;
  }
}

.Categories {
  background-color: #f5f5f5;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    width: 20rem;
    height: 10rem;
    color: #f5f5f5;
    font-size: 2rem;
    text-shadow: 0.125rem 0.125rem 0.313px rgba(0, 0, 0, 10);

  }

  h2 {
    margin-left: 5rem;
    font-size: 5rem;
    color: #383838;
  }
}

.CatSport {
  background-image: url(/public/imagesCathegories/CatSport.jpg);
  background-size: cover;
  background-position: 0.001rem;
}

.CatMode {
  background-image: url(/public/imagesCathegories/CatMode.jpg);
  background-size: cover;
  background-position: 0.001rem;
}

.CatChic {
  background-image: url(/public/imagesCathegories/CatChic.jpg);
  background-size: cover;
  background-position: 0.001rem;
}

.CatElite {
  background-image: url(/public/imagesCathegories/CatElite.jpg);
  background-size: cover;
  background-position: 0.001rem;
}

.CatLiquidation {
  background-image: url(/public/imagesCathegories/CarLiquidation.jpg);
  background-size: cover;
  background-position: 0.001rem;
}

.CatJordan {
  background-image: url(/public/imagesCathegories/CatJordan.jpg);
  background-size: cover;
  background-position: 0.001rem;
}

.CatDunk {
  background-image: url(/public/imagesCathegories/CatDunk.jpg);
  background-size: cover;
  background-position: 0.001rem;
}

.CatBottes {
  background-image: url(/public/imagesCathegories/CatBottes.jpg);
  background-size: cover;
  background-position: 0.001rem;
}

.CatMarche {
  background-image: url(/public/imagesCathegories/CatMarche.jpg);
  background-size: cover;
  background-position: 0.001rem;
}

.CatConfort {
  background-image: url(/public/imagesCathegories/CatConfort.jpg);
  background-size: cover;
  background-position: 0.001rem;
}

.cat-wrap {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

a {
  color: #383838;
  text-decoration: none
}

/*..............................Page d'accueil...................................*/

/*..............................Page d'un produit...................................*/

/*Adaptatif au mobile*/
@media (width <=56.25rem) {
  .menu-icon {
    display: block;
  }

  .search-bar-input {
    width: 20rem;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #383838;
  }

  .closed {
    top: 0;
    translate: 0 -100%;
  }

  nav ul {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 4rem;
  }
}

.ProduitPresentation {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  margin-top: 4rem;
  justify-content: center;
}

.ProduitPresentation button {
  width: 6.25rem;
  height: 6.25rem;
}

.buttonNike-wrapper img {
  width: 3.125rem;
  height: 3.125rem;
}

.buttonNike {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.swiper .produit {
  width: 100%;
  max-width: 37.5rem;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  display: flex;
}

.swiper-wrapper .produit {
  align-items: center;
  justify-content: center;
}

.swiper-slide .produit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProduitNike img {
  width: 31.25rem;
  height: 31.25rem;
}

.Tailles-wrapper h3 {
  font-size: 2rem;
}

.Tailles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Tailles-wrapper img {
  width: 10rem;
  height: auto;
  padding: 1rem;
}

.buttonTailles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  max-width: 18.75rem;
  margin-top: 5rem;
}

.buttonTailles button {
  min-width: 3.125rem;
  height: 2.5rem;
}

.acheter {
  background-color: rgb(63, 88, 199);
  color: white;
  border-color: rgb(0, 0, 0);
}

.autre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TitreAutre {
  margin-top: 10rem;
  text-align: center;
}

.swiper {
  width: 100%;
  padding: 1rem 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.15);

}

.swiper-slide:hover {
  transform: scale(1.05);
}

.swiper-slide img {
  width: 31.25rem;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

/*..............................Page d'un produit...................................*/

/*..............................Infolettre...................................*/


.contactez {
  text-align: left;
  padding-bottom: 3rem;
  background-image: url(/public/InfoLettre.jpg);
  background-size: cover;
  background-position: 0.1rem;

}

.contact h4 {
  color: black;
  font-size: 2rem;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

input {
  width: 75rem;
  height: 12.5rem;

}

.contact {
  padding-top: 10rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;

}

.contact img {
  width: auto;
  height: 12.5rem;
  ;
}

/*..............................Infolettre...................................*/

/*..............................Pied de page...................................*/

footer {
  background-color: #383838;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: auto;
  width: 100%;
  color: #f5f5f5;
}

body {
  background-color: #f5f5f5;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    color: #f5f5f5;
  }
}

.suivez-nous img {
  width: 3.125rem;
  height: 3.125rem;
}

/*..............................Pied de page...................................*/

/*..............................Adaptatif au mobile...................................*/

@media (max-width: 1250px) {
  input {
    width: 43.75rem;
    height: 12.5rem;
  }
}

/* Adaptatif footer */
@media (max-width: 600px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 2rem;
  }

  .suivez-nous img {
    width: 1.875rem;
    height: 1.875rem;
  }

  .Tailles-wrapper {
    width: 100%;
    padding-bottom: 2rem;
  }

  .buttonTailles {
    max-width: 90%;
    justify-content: space-evenly;
  }

  .buttonNike-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttonNike {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .ProduitPresentation {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .buttonNike-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  input {
    width: 25rem;
    height: 12.5rem;
  }
}

/*..............................Adaptatif au mobile...................................*/